body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("https://i.pinimg.com/originals/b6/2e/37/b62e37313f4cbb131687d428bbd6933c.jpg");
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 5px;
    line-height: 25px;
    cursor: none;
}

a {
    cursor: none;
}

iframe {
    display: none;
}

#raton {
    width: 100px;
    position: absolute;
    z-index: 20;
}

/*************** GRANDE *****************/

@media only screen and (min-width: 480px) {
    #raton {
        display: block;
    }
    /* TITULO PRINCIPAL */
    .titPrinc {
        position: absolute;
        text-align: center;
        top: 80px;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 130px;
        -webkit-text-fill-color: rgb(29, 95, 38);
        -webkit-text-stroke: 1px white;
        text-shadow: 0 10px 10px black, 0 10px 20px black, 0 30px 80px black;
        font-family: "tith1";
        letter-spacing: 30px;
    }
    .fondo {
        width: 100%;
        height: 90vh;
        background-repeat: none;
        background-size: cover;
        background-image: radial-gradient(rgba(92, 92, 92, 0.295), rgba(26, 26, 26, 0.808), rgb(0, 0, 0)), url("https://newfastuff.com/wp-content/uploads/2019/05/zdNw0zw.png");
        background-color: rgb(14, 75, 14);
        border-bottom: 10px solid rgba(54, 54, 54, 0.404);
        box-shadow: 0px 0px 10px black;
        transition: .8s;
    }
    /* MENU */
    .menu {
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: rgb(115, 201, 126);
        text-align: center;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.705), inset 0 0 30px rgba(0, 0, 0, 0.678), 0px 5px 10px rgba(0, 0, 0, 0.61), 0px 15px 20px rgba(0, 0, 0, 0.616);
        transition: .5s;
    }
    .abajo {
        transform: translateY(-40%);
        height: 90px;
        transition: 0.5s;
    }
    .menu a {
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 2px black;
        text-shadow: 0 10px 10px rgba(0, 0, 0, 0.534), 0 10px 20px rgba(0, 0, 0, 0.822);
        text-decoration: none;
        font-size: 40px;
        top: 15px;
        position: relative;
        margin: 100px;
        transition: .5s;
    }
    .menu a:hover {
        text-shadow: 0px 0px 20px rgb(172, 172, 172), 0 10px 30px rgb(186, 189, 184), 0 10px 90px rgb(186, 216, 165);
        top: 10px;
        text-decoration: underline;
        transition: .5s;
        animation: agrandar 1s normal 0s forwards;
    }
    /******** CONTENIDO DE LA PAGINA ********/
    #secR {
        overflow-y: scroll;
    }
    .bloque {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        transform: translateX(10%);
        top: 100px;
        padding: 40px;
        padding-top: 0;
        width: 160vh;
        height: 70vh;
        background-color: #53b1e3a9;
        border: 3px solid black;
        border-radius: 5px;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.644), 0 10px 30px black, 0 40px 30px black;
        animation: esconder 1.5s normal 0s forwards;
    }
    .ocultar {
        display: none;
    }
    h2 {
        color: rgb(236, 236, 236);
        text-shadow: 0 10px 10px black, 0 10px 40px black, 0 20px 80px black;
        text-align: center;
        font-family: "tith2";
        font-size: 70px;
        letter-spacing: 20px;
    }
    /* SECCION DE REGLAS */
    .imgRegla1 {
        height: 30vh;
    }
    .imgRegla2 {
        float: right;
        height: 40vh;
    }
    .bloque>p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
    /* SECCION DE JUEGO */
    .palabra {
        text-align: center;
        text-shadow: 0px 10px 10px black;
        padding-bottom: 70px;
        font-size: 80px;
        letter-spacing: 15px;
        color: white;
        font-weight: bold;
    }
    #homer {
        margin-right: 0;
        position: relative;
        width: 150px;
        transition: .7s;
    }
    #bart {
        position: relative;
        top: 50px;
        width: 70px;
        transition: .7s;
    }
    #barraVida {
        height: 20px;
        padding-top: 20px;
        border: 3px solid white;
        border-radius: 10px;
        background: linear-gradient(to right, transparent 50%, red 50%);
        background-position: 100%;
        background-size: 200%;
        transition: background-position 1s;
        box-shadow: inset 0px 0px 10px rgb(209, 50, 50), inset 0px 0px 30px rgb(209, 50, 50), 0px 10px 40px black, 0px 10px 10px rgba(0, 0, 0, 0.719), 0px 0px 10px black;
    }
    #letAdivinadas {
        text-align: center;
        font-size: 30px;
        text-shadow: 0px 5px 10px rgb(32, 48, 32);
    }
    #contPista {
        position: absolute;
        top: 70%;
    }
    #pista {
        margin-left: 40px;
        width: 80px;
        border-radius: 100px;
        transition: .5s;
    }
    #pista:hover {
        transform: rotate(360deg) scale(150%);
    }
    #numPistas {
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        float: right;
        padding-left: 20px;
        opacity: 0;
        transition: 1s;
    }
    #pista:hover+#numPistas {
        opacity: 1;
    }
    /* SECCION FINAL */
    #secF {
        text-align: center;
    }
    #titF {
        font-size: 70px;
        display: inline;
        text-shadow: 0px 10px 30px white;
    }
    #subF {
        font-size: 30px;
        text-shadow: 0px 10px 30px white;
    }
    #imgF {
        width: 420px;
        height: auto;
        border: 3px solid black;
        border-radius: 20px;
        margin-top: -40px;
        animation: animF 3s infinite;
    }
    #imgF2 {
        width: 70px;
    }
    .letMal {
        animation: aniMal .5s normal;
    }
    .parp {
        animation: parpadearMal 3s infinite;
    }
}

/******************* PEQUEÑO ********************/

@media only screen and (max-width: 480px) {
    #raton {
        display: none;
    }
    /* TITULO PRINCIPAL */
    .titPrinc {
        position: absolute;
        text-align: center;
        top: -10px;
        left: 50px;
        font-size: 40px;
        -webkit-text-fill-color: rgb(29, 95, 38);
        -webkit-text-stroke: 1px white;
        text-shadow: 0 10px 10px black, 0 10px 20px black, 0 30px 80px black;
        font-family: "tith1";
        letter-spacing: 5px;
    }
    .fondo {
        width: 60vh;
        height: 20vh;
        background-repeat: none;
        background-size: cover;
        background-image: radial-gradient(rgba(92, 92, 92, 0.295), rgba(26, 26, 26, 0.808), rgb(0, 0, 0)), url("https://newfastuff.com/wp-content/uploads/2019/05/zdNw0zw.png");
        background-color: rgb(14, 75, 14);
        border-bottom: 10px solid rgba(54, 54, 54, 0.404);
        box-shadow: 0px 0px 10px black;
        transition: .8s;
    }
    /* MENU */
    .menu {
        position: fixed;
        width: 100%;
        height: 20px;
        background-color: rgb(115, 201, 126);
        text-align: center;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.705), inset 0 0 30px rgba(0, 0, 0, 0.678), 0px 5px 10px rgba(0, 0, 0, 0.61), 0px 15px 20px rgba(0, 0, 0, 0.616);
        transition: .5s;
    }
    .abajo {
        transform: translateY(-70%);
        height: 90px;
        transition: 0.5s;
    }
    .menu a {
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 2px black;
        text-shadow: 0 10px 10px rgba(0, 0, 0, 0.534), 0 10px 20px rgba(0, 0, 0, 0.822);
        text-decoration: none;
        font-size: 20px;
        top: 15px;
        position: relative;
        margin: 10px;
        transition: .5s;
    }
    /******** CONTENIDO DE LA PAGINA ********/
    #secR {
        overflow-y: scroll;
    }
    .bloque {
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        transform: translateX(0%);
        top: 100px;
        padding: 40px;
        padding-top: 0;
        width: 45vh;
        height: 70vh;
        background-color: #53b1e3a9;
        border: 3px solid black;
        border-radius: 5px;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.644), 0 10px 30px black, 0 40px 30px black;
        animation: esconder 1.5s normal 0s forwards;
    }
    .ocultar {
        display: none;
    }
    h2 {
        color: rgb(236, 236, 236);
        text-shadow: 0 10px 10px black, 0 10px 40px black, 0 20px 80px black;
        text-align: center;
        font-family: "tith2";
        font-size: 40px;
        letter-spacing: 10px;
    }
    /* SECCION DE REGLAS */
    .imgRegla1 {
        height: 13vh;
    }
    .imgRegla2 {
        float: right;
        height: 20vh;
    }
    .bloque>p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
    }
    /* SECCION DE JUEGO */
    .palabra {
        text-align: center;
        text-shadow: 0px 10px 10px black;
        padding-bottom: 70px;
        font-size: 30px;
        letter-spacing: 15px;
        color: white;
        font-weight: bold;
    }
    #homer {
        position: relative;
        right: 40px;
        width: 110px;
        transition: .7s;
    }
    #bart {
        position: absolute;
        top: 50px;
        left: 84%;
        width: 50px;
        transition: .7s;
    }
    #barraVida {
        height: 10px;
        padding-top: 20px;
        border: 3px solid white;
        border-radius: 10px;
        background: linear-gradient(to right, transparent 50%, red 50%);
        background-position: 100%;
        background-size: 200%;
        transition: background-position 1s;
        box-shadow: inset 0px 0px 10px rgb(209, 50, 50), inset 0px 0px 30px rgb(209, 50, 50), 0px 10px 40px black, 0px 10px 10px rgba(0, 0, 0, 0.719), 0px 0px 10px black;
    }
    #letAdivinadas {
        display: none;
    }
    #contPista {
        position: absolute;
        top: 40%;
    }
    #pista {
        margin-left: 40px;
        width: 60px;
        border-radius: 100px;
        transition: .5s;
    }
    #numPistas {
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        float: right;
        padding-left: 20px;
        transition: 1s;
    }
    /* SECCION FINAL */
    #secF {
        text-align: center;
    }
    #titF {
        font-size: 30px;
        display: inline;
        text-shadow: 0px 10px 30px white;
    }
    #subF {
        font-size: 20px;
        text-shadow: 0px 10px 30px white;
    }
    #imgF {
        width: 320px;
        height: auto;
        border: 3px solid black;
        border-radius: 20px;
        margin-top: -40px;
        animation: animF 3s infinite;
    }
    #imgF2 {
        width: 40px;
    }
    .letMal {
        animation: aniMal .5s normal;
    }
    .parp {
        animation: parpadearMal 3s infinite;
    }
    .button {
        width: 40px;
        color: white;
        border: 2px solid rgb(7, 52, 77);
        background-color: rgb(67,142,181);
        margin: 5px;
        box-shadow: 0px 0px 20px rgb(8, 39, 56), inset 0 0 10px rgb(4, 37, 54);
        transition: .5s;
    }
}

/* ESTILOS DE FUENTES*/

@font-face {
    font-family: "tith1";
    src: url("../FONT/Party\ Letters\ On\ a\ Rope.otf");
}

@font-face {
    font-family: "tith2";
    src: url("../FONT/DatBox.ttf");
}

/* ANIMACIONES */

@keyframes ocultar {
    0% {}
    100% {
        opacity: 0;
    }
}

/* HACE PEQUEÑA LA IMAGEN DE LA PANTALLA PRINCIPAL */

@keyframes peque {
    0% {
        opacity: 1;
    }
    100% {
        height: 0;
        opacity: 0;
        display: none;
    }
}

/* HACE GRANDE LA IMAGEN DE LA PANTALLA PRINCIPAL */

@keyframes agrandar {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        height: 90vh;
        opacity: 1;
        display: block;
    }
}

/*COLOR DE MENU*/

@keyframes colorArriba {
    0% {
        background-color: rgb(115, 201, 126);
    }
    100% {
        background-color: #53b1e3;
        height: 60px;
    }
}

/* CUANDO SE EQUIVOCA DE PALABRA HACE PARPADEAR LAS LETRAS */

@keyframes aniMal {
    0% {
        color: white;
    }
    50% {
        color: red;
        transform: scale(120%);
    }
    100% {
        color: white;
    }
}

/* CUANDO QUEDA POCA VIDA PARPADEA LA VIDA */

@keyframes parpadearMal {
    0% {
        border: 3px solid white;
        box-shadow: inset 0px 0px 10px rgb(209, 50, 50), inset 0px 0px 30px rgb(209, 50, 50), 0px 10px 40px black, 0px 10px 10px rgba(0, 0, 0, 0.719), 0px 0px 10px black;
    }
    50% {
        box-shadow: inset 0px 0px 10px rgb(209, 50, 50), inset 0px 0px 30px rgb(209, 50, 50), 0px 10px 30px rgb(136, 19, 19);
        border: 3px solid rgb(126, 5, 5);
        transform: scale(105%);
    }
    100% {
        box-shadow: inset 0px 0px 10px rgb(209, 50, 50), inset 0px 0px 30px rgb(209, 50, 50), 0px 10px 40px black, 0px 10px 10px rgba(0, 0, 0, 0.719), 0px 0px 10px black;
        border: 3px solid white;
    }
}

@keyframes animF {
    0% {}
    50% {
        transform: scale(102%) translateY(-7%);
        box-shadow: 0 0 30px black, 0 20px 90px black;
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes esconder {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}